html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-container {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    flex-direction: column;
}

textarea {
    margin: 20px;
    padding: 20px;
    min-width: 200px;
    min-height: 200px;
    background: rgb(250, 250, 202);
    border: unset;
    box-shadow: 3px 4px 7px 3px #afa8a4;
}